@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Joan&family=Montserrat:wght@300;400;700&display=swap');

html {
    font-family: 'Joan', serif;
}
body {
background-color: rgb(27, 27, 107);
}
h3 {
    font-size: 48px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #5A0101;
    border: 10px solid #5A0101;
    border-radius: 10px;
}
#grid {
    width: 1600px;
    height: 1100px;
    margin-left: auto;
    margin-right: auto;
    
}